{% extends "base.html" %}

{% block page_content %}

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card mb-4">
                <div class="card-body" style="background-color: #343a40;">
                    <h2>Upload Image (YOLO)</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile02" name="image">
                              <label class="custom-file-label" for="inputGroupFile02">Choose Image...</label>
                            </div>
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-outline-primary">Upload Image</button>
                            </div>
                        </div>
                        <script>
                            $('#inputGroupFile02').on('change',function(){
                                //get the file name
                                var fileName = $(this).val().replace("C:\\fakepath\\", "");
                                //replace the "Choose a file" label
                                $(this).next('.custom-file-label').html(fileName);
                            })
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if upload_url %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card mb-4">
                <div class="card-body" style="background-color: #343a40;">
                    <h2>Uploaded Image</h2>
                    <img src="{{ upload_url }}" class="uploaded_image">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card mb-4">
                <div class="card-body" style="background-color: #343a40;">
                    <h2>Counted Image</h2>
                    <img src="{{ counted_url }}" class="uploaded_image">
                    <p><u>Number of people in image:</u><strong> {{ counted_num }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}