.content-container {
    margin-top: 5em;
}

.uploaded_image {
    max-width: 100%;
    height: auto;
}

.card-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body p{
    text-align: center;
    margin-top: 1em;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

.input-group {
    margin-top: 1em;
}

.humancounter-container {
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.humancounter-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}