{% extends "base.html" %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card mb-4">
            <div class="card-body" style="background-color: #343a40;">
                <h2>HumanCounter</h2>
                <div class="humancounter-container">
                    <p><strong>Github:</strong></p> 
                    <p><a href="https://github.com/JakeJazokas/HumanCounter"><em>https://github.com/JakeJazokas/HumanCounter</em></a></p>
                    <p><strong>Members:</strong></p>
                    <p>Jake Jazokas - 101083496</p>
                    <p>Cody Bennett - 101035873</p>
                    <p>Andrew Burry - 100832328</p>
                    <p><strong>Summary:</strong></p>
                    <p>The computer vision problem that our group will be working on involves human surveillance in static images. Our plan is to count the number of people in a given image. The program should take in an image of a group of people, and return the number of people that it has counted in it. If there is time, we hope to provide live feedback from a cell phone camera feed on how many people are currently in frame.</p>
                    <p><strong>Visual Description:</strong></p>
                    <p>Given an image of a crowd of people (like in figure A), our application will count the number of people that it sees in the image, and return that number (like in figure B).</p>
                    <p><strong>(A)</strong></p>
                    <p><img src="https://cdn.discordapp.com/attachments/672452802630516747/672893473631764490/unknown.png" alt="Image A" /></p>
                    <p><strong>(B)</strong></p>
                    <p><img src="https://cdn.discordapp.com/attachments/672452802630516747/672893497996738560/unknown.png" alt="Image B" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}