{% extends "base.html" %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card mb-4">
            <div class="card-body" style="background-color: #343a40;">
                <h2>HumanCounter</h2>
                <div class="humancounter-container">
                    <p><strong>Github:</strong></p> 
                    <p><a href="https://github.com/JakeJazokas/HumanCounter"><em>https://github.com/JakeJazokas/HumanCounter</em></a></p>
                    <p><strong>Members:</strong></p>
                    <p>Jake Jazokas - 101083496</p>
                    <p>Cody Bennett - 101035873</p>
                    <p>Andrew Burry - 100832328</p>
                    <p><strong>Website Instructions:</strong></p>
                    <p>
                        There are four pages avialable on the website, each page gives you the option to upload a video or image, and have it run through our detection algorithms.
                        The output image or video will then be displayed on the page, along with the original.
                        Please be paitent when uploading a video, as it will take some time to run through the detectors.
                        <strong>ALL VIDEOS UPLOADED MUST BE IN .MP4 FORMAT</strong>
                    </p>
                    <p><strong>Image Page:</strong></p>
                    <p>
                        In this page, you can upload an image and have it run through our Cascade Classifier in order to count the people in the image.
                        The original image, as well as the image with the people counted (shown by a box drawn around them), will be displayed.
                        There will be a line below the output image that displays how many people are counted in the image.
                    </p>
                    <p><strong>Video Page:</strong></p>
                    <p>
                        In this page, you can upload a video and have it run through our Background Subtractor Algorithm in order to count the people in the video.
                        The original video, as well as the video with the people counted (shown by a box drawn around them), will be displayed.
                        The output video will have text in the top left of the video which displays the number of people that are counted in the current frame.
                    </p>
                    <p><strong>Image (YOLO) Page:</strong></p>
                    <p>
                        In this page, you can upload an image and have it run through our Darknet Classifier in order to count the people in the image.
                        The original image, as well as the image with the people counted (shown by a box drawn around them), will be displayed.
                        There will be a line below the output image that displays how many people are counted in the image.
                    </p>
                    <p><strong>Video (YOLO) Page:</strong></p>
                    <p>
                        In this page, you can upload a video and have it run through our Darknet Video Classifier Algorithm in order to count the people in the video.
                        The original video, as well as the video with the people counted (shown by a box drawn around them), will be displayed.
                        The output video will have text in the top left of the video which displays the number of people that are counted in the current frame.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}